@font-face {
  font-family: 'unisans';
  src: url('Uni-Sans-Thin.otf');
}
/* Icons in buttons */

.dropdown{
  width: 20px;
  padding-right: 10px;
  cursor:pointer;
  transition:transforms 0.3s ease;
}

.icons{
width: 20px;
padding-right: 5px;
vertical-align: middle;

}

/* Main Logo */

.toplogos{
  width: 10%;
  height:auto;
  margin-right: 50px;
  margin-top: 50px;
}
/* First line "DVG" */

.topnag {
margin-top: 20px;
color: rgb(60, 60, 60);
font-family:'unisans';
background-color: rgb(242,242,242);
height: fit-content;
font-size: 25px;
width: 350px;
text-align: left;
padding-top: 5px;
padding-left: 15px;
padding-right:50px;
padding-bottom: 5px;
border-style: solid;
border-color: rgb(60, 60, 60);
border-width: 0.5px;
border-radius: 2px;
}

/* Holds Buttons */

.buttons {
  display:grid;
  color: rgb(60, 60, 60);
  font-size: 20px;
  width: 500px;
  margin:auto;
  row-gap:10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow:hidden;


}

.hidden {
  max-height: 0;
  opacity: 0;
}

.visible {
  max-height: 500px;
  opacity: 1;
}


.rotated {
  transform: rotate(180deg) translateX(10px);
}
/*  Buttons */

.btms {
  background-color: rgb(242,242,242);
  color: rgb(60, 60, 60);
  text-align: center;
  height: 25px;
  width:fit-content;
  margin-left: 100px;
  padding-left: 5px;
  padding-right: 15px;
  border-style: solid;
  border-color: rgb(60, 60, 60);
  border-width: 0.5px;    
  animation: slideIn 0.5s;
  cursor: pointer;

}

.blocktext {  text-decoration: none; color:rgb(60, 60, 60);
  font-family:'unisans';
  font-size: 18px;
  vertical-align: top;
}


.btms:hover{background-color:rgba(106, 106, 106, 0.404);
  transform: translateX(10px);
}


/* Animation for Logo*/
@keyframes bounce{
  0%,20%,,80%,100% {
    transform:translateY(0);
  }
  50% {
    transform:translateY(-10px);
  }
 
}

.bounce{
  animation: bounce 0.6s
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

body{
  animation: fadeIn 1s;
}

@keyframes slideIn{
  0%{
    transform:translateX(-30px);
  }

  100%{
  transform:translateX(0);
  }
}

